{% extends "layout.html" %}
{% block body %}
<section id="tal" class="bg-secondary text-light  p-3  text-sm-start">
    <div class="container ">
        <h1 class=" p-3 text-warning text-center">Data</h1>
        <h3 class=" text-center">The following sample data used for the project</h3>
        <p>- This data set contains transactions occurring in an online store (E-commerce)</p>
            <p>- Out of the 12,330 customer samples in the dataset, 84.5% (10,422) were negative class samples (i.e. customers who did not end up buying the product), and the rest (1908) were positive class samples (i.e. customers who ended up buying).</p>
                <p>- The dataset consists of 10 numerical and 8 categorical attributes.</p>
                    <p>- The 'Revenue' attribute can be used as the class label.</p>
                        <p>- "Administrative", "Administrative Duration", "Informational", "Informational Duration", "Product Related" and "Product Related Duration": These represent the number of different types of pages visited by the visitor in that session and total time spent in each of these page categories. The values of these features are derived from the URL information of the pages visited by the user and updated in real time when a user takes an action, e.g. moving from one page to another.</p>
                            <p>- The "Bounce Rate", "Exit Rate" and "Page Value" features represent the metrics measured by "Google Analytics" for each page in the e-commerce site.
            Bounce Rate: The value of "Bounce Rate" feature for a web page refers to the percentage of visitors who enter the site from that page and then leave ("bounce") without triggering any other requests to the analytics server during that session.</p>
            <p>Exit Rate: The value of "Exit Rate" feature for a specific web page is calculated as for all pageviews to the page, the percentage that were the last in the session.</p>
            <p>- Page Value: The "Page Value" feature represents the average value for a web page that a user visited before completing an e-commerce transaction.</p>
            <p>- Special Day: The "Special Day" feature indicates the closeness of the site visiting time to a specific special day (e.g. Mother’s Day, Valentine's Day) in which the sessions are more likely to be finalized with transaction.</p>
            The value of this attribute is determined by considering the dynamics of e-commerce such as the duration between the order date and delivery date.
            For example, for Valentina’s day, this value takes a nonzero value between February 2 and February 12, zero before and after this date unless it is close to another special day, and its maximum value of 1 on February 8.</p>
            <p>- The dataset also includes operating system, browser, region, traffic type, visitor type as returning or new visitor, a Boolean value indicating whether the date of the visit is weekend, and month of the year.</p>
    </div>
</section>  

<section id="tal" class="bg-black text-light p-3  text-center text-sm-start">
    <div class="container">

        <h3 class="text-center text-info">Data Table</h3>
    </div>
    <div class="container">
        <table class="table table-striped table table-bordered table-dark">
                <thead>
                  <tr style="text-align: right;">
                    <th></th>
                    <th>Administrative_Avg</th>
                    <th>Informational_Avg</th>
                    <th>ProductRelated_Avg</th>
                    <th>BounceRates</th>
                    <th>ExitRates</th>
                    <th>PageValues</th>
                    <th>SpecialDay</th>
                    <th>Month</th>
                    <th>OperatingSystems</th>
                    <th>Browser</th>
                    <th>Region</th>
                    <th>TrafficType</th>
                    <th>VisitorType</th>
                    <th>Weekend</th>
                    <th>Revenue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>0</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>0.000000</td>
                    <td>0.200000</td>
                    <td>0.200000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>1</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>32.000000</td>
                    <td>0.000000</td>
                    <td>0.100000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>0.000000</td>
                    <td>0.200000</td>
                    <td>0.200000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>Other</td>
                    <td>1</td>
                    <td>9</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>1.333333</td>
                    <td>0.050000</td>
                    <td>0.140000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>3</td>
                    <td>2</td>
                    <td>2</td>
                    <td>4</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>4</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>62.750000</td>
                    <td>0.020000</td>
                    <td>0.050000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>3</td>
                    <td>Other</td>
                    <td>1</td>
                    <td>4</td>
                    <td>Returning_Visitor</td>
                    <td>True</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>5</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>8.116667</td>
                    <td>0.015789</td>
                    <td>0.024561</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>6</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>0.000000</td>
                    <td>0.200000</td>
                    <td>0.200000</td>
                    <td>0.000000</td>
                    <td>0.4</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>4</td>
                    <td>3</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>7</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>0.000000</td>
                    <td>0.200000</td>
                    <td>0.200000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>2</td>
                    <td>1</td>
                    <td>5</td>
                    <td>Returning_Visitor</td>
                    <td>True</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>8</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>18.500000</td>
                    <td>0.000000</td>
                    <td>0.100000</td>
                    <td>0.000000</td>
                    <td>0.8</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>9</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>246.000000</td>
                    <td>0.000000</td>
                    <td>0.022222</td>
                    <td>0.000000</td>
                    <td>0.4</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>4</td>
                    <td>1</td>
                    <td>2</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>10</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>131.666667</td>
                    <td>0.000000</td>
                    <td>0.066667</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>11</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>25.484375</td>
                    <td>0.018750</td>
                    <td>0.025833</td>
                    <td>0.000000</td>
                    <td>0.4</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>4</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>12</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>40.071429</td>
                    <td>0.000000</td>
                    <td>0.028571</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>13</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>16.333333</td>
                    <td>0.000000</td>
                    <td>0.066667</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>5</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>14</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>34.000000</td>
                    <td>0.000000</td>
                    <td>0.100000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>3</td>
                    <td>2</td>
                    <td>3</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>15</th>
                    <td>26.50</td>
                    <td>0.0</td>
                    <td>72.534136</td>
                    <td>0.008333</td>
                    <td>0.016313</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>9</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>16</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>0.000000</td>
                    <td>0.200000</td>
                    <td>0.200000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>4</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>17</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>25.766667</td>
                    <td>0.000000</td>
                    <td>0.007692</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>4</td>
                    <td>Returning_Visitor</td>
                    <td>True</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>18</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>16.000000</td>
                    <td>0.000000</td>
                    <td>0.100000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>19</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>149.058333</td>
                    <td>0.000000</td>
                    <td>0.010000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>20</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>17.020833</td>
                    <td>0.000000</td>
                    <td>0.008333</td>
                    <td>0.000000</td>
                    <td>1.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>5</td>
                    <td>1</td>
                    <td>Returning_Visitor</td>
                    <td>True</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>21</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>0.000000</td>
                    <td>0.200000</td>
                    <td>0.200000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>3</td>
                    <td>Other</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>22</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>35.000000</td>
                    <td>0.000000</td>
                    <td>0.033333</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>5</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>23</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>7.500000</td>
                    <td>0.000000</td>
                    <td>0.100000</td>
                    <td>0.000000</td>
                    <td>0.8</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>4</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>24</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>0.000000</td>
                    <td>0.200000</td>
                    <td>0.200000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>4</td>
                    <td>1</td>
                    <td>Returning_Visitor</td>
                    <td>True</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>25</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>31.200000</td>
                    <td>0.000000</td>
                    <td>0.040000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>9</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>26</th>
                    <td>16.15</td>
                    <td>0.0</td>
                    <td>35.482639</td>
                    <td>0.002857</td>
                    <td>0.009524</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>27</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>19.000000</td>
                    <td>0.050000</td>
                    <td>0.100000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>28</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>15.750000</td>
                    <td>0.000000</td>
                    <td>0.050000</td>
                    <td>0.000000</td>
                    <td>0.2</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>6</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>29</th>
                    <td>6.00</td>
                    <td>0.0</td>
                    <td>35.172222</td>
                    <td>0.043478</td>
                    <td>0.050821</td>
                    <td>54.179764</td>
                    <td>0.4</td>
                    <td>Feb</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>30</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>17.500000</td>
                    <td>0.000000</td>
                    <td>0.100000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>6</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>31</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>26.000000</td>
                    <td>0.000000</td>
                    <td>0.066667</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>2</td>
                    <td>6</td>
                    <td>6</td>
                    <td>Returning_Visitor</td>
                    <td>True</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>32</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>26.187500</td>
                    <td>0.000000</td>
                    <td>0.025000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>33</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>18.366667</td>
                    <td>0.040000</td>
                    <td>0.080000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>1</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>34</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>27.178571</td>
                    <td>0.014286</td>
                    <td>0.028571</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>35</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>40.120055</td>
                    <td>0.015385</td>
                    <td>0.020353</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>7</td>
                    <td>1</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>36</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>48.500000</td>
                    <td>0.025000</td>
                    <td>0.056250</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>4</td>
                    <td>Returning_Visitor</td>
                    <td>True</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>37</th>
                    <td>9.00</td>
                    <td>0.0</td>
                    <td>59.600000</td>
                    <td>0.000000</td>
                    <td>0.028571</td>
                    <td>0.000000</td>
                    <td>0.8</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>8</td>
                    <td>4</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>38</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>9.000000</td>
                    <td>0.028571</td>
                    <td>0.071429</td>
                    <td>0.000000</td>
                    <td>0.6</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>39</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>53.555556</td>
                    <td>0.000000</td>
                    <td>0.022222</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>5</td>
                    <td>1</td>
                    <td>6</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>40</th>
                    <td>9.00</td>
                    <td>0.0</td>
                    <td>88.791173</td>
                    <td>0.000000</td>
                    <td>0.001795</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>8</td>
                    <td>4</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>41</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>7.333333</td>
                    <td>0.000000</td>
                    <td>0.066667</td>
                    <td>0.000000</td>
                    <td>0.6</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>2</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>42</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>20.677778</td>
                    <td>0.000000</td>
                    <td>0.006667</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>4</td>
                    <td>4</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>43</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>17.000000</td>
                    <td>0.000000</td>
                    <td>0.050000</td>
                    <td>0.000000</td>
                    <td>0.4</td>
                    <td>Feb</td>
                    <td>3</td>
                    <td>2</td>
                    <td>2</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>44</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>22.000000</td>
                    <td>0.000000</td>
                    <td>0.050000</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>Other</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>45</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>28.284091</td>
                    <td>0.003030</td>
                    <td>0.006061</td>
                    <td>0.000000</td>
                    <td>0.2</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>5</td>
                    <td>1</td>
                    <td>4</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>46</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>15.885714</td>
                    <td>0.017143</td>
                    <td>0.057143</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>47</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>26.666667</td>
                    <td>0.066667</td>
                    <td>0.133333</td>
                    <td>0.000000</td>
                    <td>0.2</td>
                    <td>Feb</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>48</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>72.803030</td>
                    <td>0.000000</td>
                    <td>0.003636</td>
                    <td>0.000000</td>
                    <td>0.0</td>
                    <td>Feb</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                  <tr>
                    <th>49</th>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>0.000000</td>
                    <td>0.200000</td>
                    <td>0.200000</td>
                    <td>0.000000</td>
                    <td>0.6</td>
                    <td>Feb</td>
                    <td>2</td>
                    <td>2</td>
                    <td>3</td>
                    <td>2</td>
                    <td>Returning_Visitor</td>
                    <td>False</td>
                    <td>False</td>
                  </tr>
                </tbody>
            </table>   
    </div>
    <footer>
        <p>Copyright &copy; pandeysudip2022</p>
    </footer>
    
</section> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}