{% extends "layout.html" %}
{% block body %}
<!--Home-->
<section id="tal" class="bg-dark text-light p-5 mt-5 text-center text-sm-start">
    <div>
        <h3 class=" p-3 text-warning text-center">Artificial Intelligence (AI) to Predict Whether a Customer Will Buy a Product or Not</h3>
    </div>
    <div class="sidebar">
        <div class="d-lg-flex">
            <div class="container fluid">
                <h3 class=" p-1 text-warning text-center">Summary</h3>
                <div>
                    <p class="text-primary">
                        Used the data set that contains transactions occurring in an online store (E-commerce) to train the model. The data set contains 12,330 customer samples with 84.5% (10,422) were negative class samples (i.e. customers who did not end up buying the product), and the rest (1908) were positive class samples (i.e. customers who ended up buying).The dataset consists of 10 numerical and 8 categorical attributes.The differnt features used are:"Administrative", "Administrative Duration", "Informational", "Informational Duration", "Product Related",  "Product Related Duration", "Bounce Rate", "ExitRates", "Pages Values", "Special Day", "Revenue" and so on.
                    </p>
                    <h5>Some quick numbers:</h5>
                    <h6 class="text-success">
                         
                    </h6>

                    <h5>Differnt Model Used:</h5>

                    <p class="text-success">


                    </p>

                    <div class="container">
                        <div class="jumbotron text-center bg-dark text-light  p-3">
                            <h3><span class="text-danger">Model Prefoemance using different learning algorithm</span></h3>
                        </div >
                    </div >
                    
                
                    <div class="d-md-flex ">
                        <div class="container-fluid bg-black text-center">
                            <h6 class="text-white p-3"></h6>
                            <div id="sample-metadata-img"></div>
                        </div>
                        
                    </div>
                        
                </div>
            </div>
            <div class="container p-2 ">
                <h2 class='text center'>Model Predection</h2>
                <div class= "bg-info" >
                    <div class= " bg-warning text-black">
                        <h4>
                            Please enter the following information to predict wheather the customer will buy your product or not.
                        </h4>
                    </div>
                    <div class='p-3'>
                    <form action = "/send" method = "post">
                        <div class="mb-3  lead text-primary">
                            <label  for="Monthly Owner Cost">Administrative</label>
                            <input  type="number" step="any" name="Administrative" id="Administrative" />                
                        </div>
                        <div class="mb-3  lead text-primary">
                            <label  for="Per Capita Income">Administrative_Duration</label>
                            <input  type="number" step="any" name="Administrative_Duration" id="Administrative_Duration" />  
                        </div>
                        <div class="mb-3  lead text-primary">
                            <label  for="Lng">Informational</label>
                            <input  type="number" step="any" name="Informational" id="Informational" />
                        </div>
                        <div class="mb-3  lead text-primary">
                            <label  for="Household Income">Informational_Duration</label>
                            <input  type="number" step="any" name="Informational_Duration" id="Informational_Duration" /> 
                        </div>
                        <div class="mb-3  lead text-primary">
                            <label  for="College Rate">ProductRelated</label>
                            <input  type="number" step="any" name="ProductRelated" id="ProductRelated" />
                        </div>
                        <div class="mb-3  lead text-primary">
                            <label  for="Lat">ProductRelated_Duration</label>
                            <input  type="number" step="any" name="ProductRelated_Duration" id="ProductRelated_Duration" />
                        </div>
                        <div class="mb-3  lead text-primary">
                            <label  for="Personal Transport Rate">BounceRates</label>
                            <input  type="number" step="any" name="BounceRates" id="BounceRates" /> 
                        </div>
                        <div class="mb-3  lead text-primary">
                            <label  for="High School Rate">ExitRates</label>
                            <input  type="number" step="any" name="ExitRates" id="ExitRates" /> 
                        </div>
                        <div class="mb-3  lead text-primary">
                            <label  for="Median Age">PageValues</label>
                            <input  type="number" step="any" name="PageValues" id="PageValues" />  
                        </div>
                    </div>
                        <!-- Form submit button -->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" type="submit" value="submit">Submit</button>
                        </div>
                    </form>
                    <h3 class='pt-4'> {{ prediction }}</h3>
                </div>
      
            </div>
        </div> 
    </div>
</section>

<footer>
    <p>Copyright &copy; pandeysudip2022</p>
</footer>
<!-- JavaScript file -->
<script type="text/javascript" src="static/js/index.js"></script>     
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}